/* Custom scrollbar hiding */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}
